<!-- Footer -->
<div class="degrade5 fuente">
    <footer class="page-footer font-small fondo">



        <!-- Footer Links -->
        <div class="container text-center text-md-left pt-5">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">Madame Cupcakes
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Realizamos toda clase de cupcakes, tortas, postres, pasabocas y bebidas para que tus
                        celebraciones sean mágicas.</p>
                    <p>Que esperas para contactarnos!!!!</p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">PRODUCTOS</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a>Cupcakes</a>
                    </p>
                    <p>
                        <a>sandwich</a>
                    </p>
                    <p>
                        <a>Pasabocas</a>
                    </p>
                    <p>
                        <a>Tortas y ponqués temáticos </a>
                    </p>
                    <p>
                        <a>Desayuno sorpresa</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->

                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-5 col-xl-5 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contacto</h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fa fa-home mr-2"></i> Av cll 3 # 30a - 31 Bogotá
                    </p>
                    <p>
                        <i class="fa fa-envelope mr-2"></i> contacto@madamecupcakesbogota.com
                    </p>
                    <p>
                        <i class="fa fa-mobile mr-2"></i> +57 314 454 06 54
                    </p>
                    <p>
                        <i class="fa fa-mobile mr-2"></i> +57 313 368 78 16
                    </p>
                    <p>
                        <a href="https://api.whatsapp.com/send?phone=573148544551&text=Hola! Necesito un servicio a Domicilio"
                            target="_blank">
                            <i class="fab fa-whatsapp mr-2"></i> Servicio a domicilio en Bogotá.
                        </a>

                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://vangtry.com/" target="_blank"> vangTry.com</a>
        </div>
        <!-- Copyright -->

    </footer>
</div>

<!-- Footer -->