<!--Intro Section-->

<div id="superior" class="container3">
    <div id="carousel-example-2" class="carousel slide carousel-fade-left" data-ride="carousel" data-interval="4000">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
            <li data-target="#carousel-example-2" data-slide-to="3"></li>
            <li data-target="#carousel-example-2" data-slide-to="4"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="g carousel-inner" role="listbox">
            <div class="g carousel-item active ">
                <div class="intro-2 container3 d-flex justify-content-center align-items-center">
                    <div class="degrade">
                        <div class="row smooth-scroll">
                            <div class="col-md-12 text-center white-text">
                                <div class="wow fadeInDown" data-wow-delay="0.2s">
                                    <h1 class="titulo white-text display-4 fuente tituloBorder">
                                        ¡Madame CupCakes!
                                        <br />
                                        <strong>
                                            <h3>Pastelería Creativa</h3>
                                        </strong>
                                    </h1>
                                </div>
                                <h4>¡Bienvenidos a esta experiencia de color y sabor!</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item degrade">
                <!--Mask color-->
                <div class="imagen2  container3 d-flex justify-content-center align-items-center">
                    <div class="degrade">
                        <div class="row smooth-scroll">
                            <div class="col-md-12 text-center white-text">
                                <div class="wow fadeInDown" data-wow-delay="0.2s">
                                    <h1 class="titulo white-text display-4 fuente tituloBorder">
                                        ¡Madame CupCakes!
                                        <strong>
                                            <h3>Pastelería Creativa</h3>
                                        </strong>
                                    </h1>
                                    <!--Rating-->
                                </div>
                                <h4>Estamos listos para atender tu solicitud.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="imagen5 container3 d-flex justify-content-center align-items-center">
                    <div class="degrade">
                        <div class="row smooth-scroll">
                            <div class="col-md-12 text-center white-text">
                                <div class="wow fadeInDown" data-wow-delay="0.2s">
                                    <h1 class="titulo white-text display-4 fuente tituloBorder">
                                        ¡Madame CupCakes!
                                        <strong>
                                            <h3>Pastelería Creativa</h3>
                                        </strong>
                                    </h1>
                                    <!--Rating-->
                                </div>
                                <h4>Estamos listos para atender tu solicitud.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="imagen4 container3 d-flex justify-content-center align-items-center">
                    <div class="degrade">
                        <div class="row smooth-scroll">
                            <div class="col-md-12 text-center white-text">
                                <div class="wow fadeInDown" data-wow-delay="0.2s">
                                    <h1 class="titulo white-text display-4 fuente tituloBorder">
                                        ¡Madame CupCakes!
                                        <strong>
                                            <h3>Pastelería Creativa</h3>
                                        </strong>
                                    </h1>
                                    <!--Rating-->
                                </div>
                                <h4>Estamos listos para atender tu solicitud.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="imagen3 container3 d-flex justify-content-center align-items-center">
                    <div class="degrade">
                        <div class="row smooth-scroll">
                            <div class="col-md-12 text-center white-text">
                                <div class="wow fadeInDown" data-wow-delay="0.2s">
                                    <h1 class="titulo white-text display-4 fuente  tituloBorder">
                                        ¡Madame CupCakes!
                                        <strong>
                                            <h3>Pastelería Creativa</h3>
                                        </strong>
                                    </h1>
                                </div>
                                <h4>Disfruta de nuestra variedad de productos.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
</div>
<div class="px-3">
    <div class="row">
        <!--Grid column-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
            <!--Tiles blog-->
            <div class="tiles-blog tiles-blog-2">
                <!--First row-->
                <div class="row">
                    <!--First column-->
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 no-margins px-0">
                        <!--Single blog post-->
                        <div class="tiles-blog-post waves-effect waves-light">
                            <!--Blog post link-->
                            <a href="/corporativos">
                                <!--Image-->
                                <div class="view overlay">
                                    <img src="../../../assets/img/cupCakes/inicio/loop/loop1.jpg" class="img-fluid"
                                        alt="" />

                                    <div class="mask flex-center degrade4">
                                        <h4 class="white-text font-weight-bold text-center">
                                            Personaliza tus cupcakes de la forma más divertida y especial.
                                        </h4>
                                    </div>
                                </div>
                                <!--/Image-->
                            </a>
                            <!--Blog post link-->
                        </div>
                        <!--/Single blog post-->
                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 no-margins px-0">
                        <!--Single blog post-->
                        <div class="tiles-blog-post waves-effect waves-light">
                            <!--Blog post link-->
                            <a href="/corporativos">
                                <!--Image-->
                                <div class="view overlay">
                                    <img src="../../../assets/img/cupCakes/inicio/loop/loop2.jpg" class="img-fluid"
                                        alt="" />

                                    <div class="mask flex-center degrade4">
                                        <h4 class="white-text font-weight-bold text-center">
                                            Visítanos y disfruta de nuestros productos cuando quieras.
                                        </h4>
                                    </div>
                                </div>
                                <!--/Image-->
                            </a>
                            <!--Blog post link-->
                        </div>
                        <!--/Single blog post-->
                    </div>
                    <!--/Second column-->

                    <!--Third column-->
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 no-margins px-0">
                        <!--Single blog post-->
                        <div class="tiles-blog-post waves-effect waves-light">
                            <!--Blog post link-->
                            <a href="/personalizados">
                                <!--Image-->
                                <div class="view overlay">
                                    <img src="../../../assets/img/cupCakes/inicio/loop/loop5.jpg" class="img-fluid"
                                        alt="" />

                                    <div class="mask flex-center degrade4">
                                        <h4 class="white-text font-weight-bold text-center">
                                            ¡¡¡Ponqués temáticos y personalizados, mesas dulces y más!!!
                                        </h4>
                                    </div>
                                </div>
                                <!--/Image-->
                            </a>
                            <!--Blog post link-->
                        </div>
                        <!--/Single blog post-->
                    </div>
                    <!--/Third column-->

                    <!--Fourth column-->
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 no-margins px-0">
                        <!--Single blog post-->
                        <div class="tiles-blog-post waves-effect waves-light">
                            <!--Blog post link-->
                            <a href="/personalizados">
                                <!--Image-->
                                <div class="view overlay">
                                    <img src="../../../assets/img/cupCakes/inicio/loop/loop4.jpg" class="img-fluid"
                                        alt="" />

                                    <div class="mask flex-center degrade4">
                                        <h4 class="white-text font-weight-bold text-center">Cupcakes para todas las
                                            ocasiones</h4>
                                    </div>
                                </div>
                                <!--/Image-->
                            </a>
                            <!--Blog post link-->
                        </div>
                        <!--/Single blog post-->
                    </div>

                    <!--/Fourth column-->

                    <!--/First row-->
                </div>
            </div>
            <!--/Grid column-->
        </div>
    </div>
</div>
<div class="">
    <div class="fondo">
        <section class="section feature-box fuente">
            <!--Section heading-->
            <div class="pt-5">
                <h2
                    class="section-heading wow fadeIn h1-responsive py-1 margin-titulos text-center tituloBorder2 black-text font-weight-bold">
                    ¿Por qué Elegirnos?
                </h2>
            </div>

            <!--First row-->
            <div class="row no-gutters features-small  wow fadeIn flex-center fuente" data-wow-delay="0.4s">
                <!--First column-->
                <div class="row  col-lg-3 features-big text-center wow fadeIn mt-5" data-wow-delay="0.4s">
                    <!--First column-->
                    <div class="col-md-6 col-lg-12 mb-5">
                        <img src="../../../assets/img/cupCakes/inicio/seccion1/i2-06.png" style="height: 100px;" />
                        <h4 class=" mb-4 fuente">Ofrecemos productos de calidad.</h4>
                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-6 col-lg-12 mb-5">
                        <img src="../../../assets/img/cupCakes/inicio/seccion1/i2.png" style="height: 100px;" />
                        <h4 class=" mb-4">Innovamos en pastelería saludable.</h4>
                    </div>
                    <!--/Second column-->

                    <!--First column-->

                    <!--/Second column-->
                </div>
                <!--/First column-->

                <!--Second column-->
                <div class="imagen col-lg-4 mb-r flex-center">
                    <img src="../../../assets/img/cupCakes/inicio/seccion1/cup-02.png"
                        alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid" />
                </div>
                <!--/Second column-->

                <!--Third column-->
                <div class="row col-lg-3 features-big text-center wow fadeIn mt-5" data-wow-delay="0.4s">
                    <!--First column-->
                    <div class="col-md-6 col-lg-12 mb-5">
                        <img src="../../../assets/img/cupCakes/inicio/seccion1/i4.png" style="height: 100px;" />
                        <h4 class=" mb-4">Variedad de productos para celebrar.</h4>
                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-md-6 col-lg-12 mb-5">
                        <img src="../../../assets/img/cupCakes/inicio/seccion1/i1.png" style="height: 100px;" />
                        <h4 class="mb-4">Línea corporativa y personal.</h4>
                    </div>
                    <!--/Second column-->

                    <!--First column-->

                    <!--/Second column-->
                </div>
                <!--/Third column-->
            </div>
            <!--/First row-->
        </section>
    </div>
</div>

<div class="fondo2 fuente">
    <section id="about" class="section about py-5  wow fadeIn px-5 fondo3" data-wow-delay="0.2s">
        <h2
            class="section-heading wow fadeIn h1-responsive text-center white-text fuente tituloBorder py-1 margin-titulos">
            Fechas Especiales
        </h2>
        <!-- carousel -->

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!--item first-->
                    <div class="row">
                        <div class="col-md-4">
                            <p class="white-text text-center spacing mt-3 mb-0">Cumpleaños</p>

                            <img class="img-fluid rounded"
                                src="../../../assets/img/cupCakes/fotosFechasEspeciales/cumpleanos-min.png"
                                alt="Card image cap" />
                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block">
                            <p class=" white-text text-center spacing mt-3 mb-0">Día de la madre</p>

                            <img class="img-fluid rounded"
                                src="../../../assets/img/cupCakes/fotosFechasEspeciales/dia-madre-min.png"
                                alt="Card image cap" />
                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block">
                            <p class="white-text spacing text-center mt-3 mb-0">Día del Padre</p>

                            <img class="img-fluid rounded"
                                src="../../../assets/img/cupCakes/fotosFechasEspeciales/dia-padre-min.png"
                                alt="Card image cap" />
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <!--second-->

                    <div class="row">
                        <div class="col-md-4">
                            <p class="white-text text-center spacing mt-3 mb-0">Día de la mujer</p>

                            <img class="img-fluid rounded"
                                src="../../../assets/img/cupCakes/fotosFechasEspeciales/dia-mujer-min.png"
                                alt="Card image cap" />
                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block">
                            <p class="white-text text-center spacing mt-3 mb-0">Día del hombre</p>

                            <img class="img-fluid rounded"
                                src="../../../assets/img/cupCakes/fotosFechasEspeciales/dia-hombre-min.png"
                                alt="Card image cap" />
                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block">
                            <p class="white-text spacing text-center mt-3 mb-0">Halloween</p>

                            <img class="img-fluid rounded"
                                src="../../../assets/img/cupCakes/fotosFechasEspeciales/hallowen-min.png"
                                alt="Card image cap" />
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--thrird-->

                    <div class="row">
                        <div class="col-md-4">
                            <p class="white-text text-center spacing mt-3 mb-0">Grados</p>

                            <img class="img-fluid rounded"
                                src="../../../assets/img/cupCakes/fotosFechasEspeciales/grado-min.png"
                                alt="Card image cap" />
                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block">
                            <p class="white-text text-center spacing mt-3 mb-0">Baby Shower</p>

                            <img class="img-fluid rounded"
                                src="../../../assets/img/cupCakes/fotosFechasEspeciales/baby-shower-min.png"
                                alt="Card image cap" />
                        </div>

                        <div class="col-md-4 clearfix d-none d-md-block">
                            <p class="white-text spacing text-center mt-3 mb-0">Bautizos</p>

                            <img class="img-fluid rounded"
                                src="../../../assets/img/cupCakes/fotosFechasEspeciales/cualquierfecha-min.png"
                                alt="Card image cap" />
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <i class="fas fa-arrow-left text-dark icon-size-nav"></i>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <i class="fas fa-arrow-right text-dark icon-size-nav"></i>
            </a>
        </div>
    </section>
</div>

<div class="parallax row no-gutters d-flex align-items-center">
    <div class="col-lg-7">
        <h3 class="text-center text-white text-uppercase font-weight-bold wow fadeIn fuente" data-wow-delay="0.2s">
            ¡Horneamos tus ideas, cuéntanos!
        </h3>
    </div>
    <div class="col-lg-5 white-text">
        <button class="btn btn-border-radius" type="button">
            <a href="https://api.whatsapp.com/send?phone=573148544551&text=Hola! Tengo una Consulta" target="_blank">
                Contáctanos
            </a>
        </button>
    </div>
</div>

<!--Section: Magazine v.3-->
<div class="">
    <div class="fondo4">
        <section class="container magazine-section py-1 fuente">
            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center my-5">Variedad y Calidad</h2>
            <!-- Section description -->
            <p class="text-center w-responsive mx-auto mb-5">
                En Madame CupCakes hacemos tus ideas realidad. Contamos con los mejores pasteleros para que realicen
                todo lo que tienes en
                mente y que quieres compartir con los que más amas.
            </p>

            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-6 col-lg-4  mb-0">
                    <!-- Featured news -->
                    <div class="single-news mb-3">
                        <!-- Image -->
                        <div class="view megin-left overlay rounded z-depth-2 mb-4">
                            <img class="img-fluid" src="../../../assets/img/cupCakes/inicio/seccion3/imgf1.jpg"
                                alt="Sample image" />
                            <a>
                                <div class="mask rgba-white-slight waves-light"></div>
                            </a>
                        </div>

                        <!-- Grid row -->

                        <!-- Grid row -->

                        <!-- Title -->
                        <div class="d-flex justify-content-between">
                            <div class="col-11 pl-0 mb-3">
                                <p class="font-weight-bold text-center">Fiestas infantiles</p>
                            </div>
                        </div>
                    </div>
                    <!-- Featured news -->

                    <!-- Small news -->
                    <div class="single-news mb-3">
                        <!-- Title -->
                        <div class="d-flex justify-content-between">
                            <div class="padding-text pl-0 mb-3">
                                <p>
                                    Si quieres que tus pequeños pasen una de las mejores fiestas de cumpleaños, en
                                    Madame CupCakes
                                    realizaremos los mas divertidos y hermosos diseños.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-4 mb-0">
                    <!-- Featured news -->
                    <div class="single-news mb-3">
                        <!-- Image -->
                        <div class="view overlay rounded z-depth-2 mb-4">
                            <img class="img-fluid" src="../../../assets/img/cupCakes/inicio/seccion3/imgf2.jpg"
                                alt="Sample image" />
                            <a>
                                <div class="mask rgba-white-slight waves-light"></div>
                            </a>
                        </div>

                        <!-- Grid row -->

                        <!-- Grid row -->

                        <!-- Title -->
                        <div class="d-flex justify-content-between">
                            <div class=" pl-0 mb-3">
                                <p class="font-weight-bold text-center">Celebraciones especiales</p>
                            </div>
                        </div>
                    </div>
                    <!-- Featured news -->

                    <!-- Small news -->
                    <div class="single-news mb-3">
                        <!-- Title -->
                        <div class="d-flex justify-content-between">
                            <div class="padding-text pl-0 mb-3">
                                <p>
                                    Nuestros pasteles han estado presentes en tantos eventos como lo puedes imaginar;
                                    desde celebraciones
                                    familiares hasta lanzamientos de productos y eventos empresariales.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="offset-md-3 offset-lg-0 col-md-6 col-lg-4 mb-0">
                    <!-- Featured news -->
                    <div class="single-news mb-3">
                        <!-- Image -->
                        <div class="view overlay rounded z-depth-2 mb-4">
                            <img class="img-fluid" src="../../../assets/img/cupCakes/inicio/seccion3/imgf3.jpg"
                                alt="Sample image" />
                            <a>
                                <div class="mask rgba-white-slight waves-light"></div>
                            </a>
                        </div>

                        <!-- Grid row -->

                        <!-- Grid row -->

                        <!-- Title -->
                        <div class="d-flex justify-content-between">
                            <div class="col-11 pl-0 mb-3">
                                <p class="font-weight-bold text-center">Paquetes corporativos</p>
                            </div>
                        </div>
                    </div>
                    <!-- Featured news -->

                    <!-- Small news -->
                    <div class="single-news mb-3">
                        <!-- Title -->
                        <div class="d-flex justify-content-between">
                            <div class="padding-text pl-0 mb-3">
                                <p>
                                    Consiente a tus colaboradores y clientes con nuestras delicias horneadas y
                                    personalizadas para celebrar
                                    u homenajear!!!.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </section>
    </div>
</div>

<!--Section: Magazine v.3-->