<!-- Section: Blog v.1 -->
<div class="fondo">
    <section class="container fuente ">


        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center tituloBorder2 margin-titulos my-5">¿Quiénes somos?</h2>
        <!-- Section description -->


        <div class="flex-center">

            <div class="row mb-5">

                <!-- Grid column -->
                <div class="col-lg-8">


                    <!-- Post title -->

                    <!-- Excerpt -->
                    <p class="w-responsive mx-auto mb-5 text-justify">Este proyecto inició en el año 2012, entre dos
                        hermanas apasionadas por el mundo de la pastelería, quienes confiaron firmemente en ese sueno y
                        hoy lo hicieron realidad.</p>
                    <p class="w-responsive mx-auto my-5 text-justify">Hoy en dia somos una empresa que ofrece calidad y
                        buen servicio. Nuestro valor agregado se basa en brindar productos bajos en azúcar, hechos con
                        aceites vegetales enfocados a la pasteleria y reposteria saludable como una alternativa para los
                        que nos encanta el dulce.
                    </p>
                    <!-- Post data -->




                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4">

                    <!-- Featured image -->
                    <div class="d-flex justify-content-center">
                        <div class="flex-center">
                            <div class="view overlay rounded  waves-light" mdbWavesEffect>

                                <img class="img-fluid" src="../../../assets/img/cupCakes/quienes/quieness1-01.png"
                                    alt="Sample image">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->



            <!-- Grid row -->

        </div>


        <!-- Grid row -->

    </section>
</div>

<!-- Section: Blog v.1 -->