.intro-2 {
  background: url("../../../assets/img/cupCakes/inicio/carrusel/back1.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.imagen2 {
  background: url("../../assets/img/cupCakes/inicio/carrusel/back2.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.imagen3 {
  background: url("../../../assets/img/cupCakes/inicio/carrusel/back3.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.imagen4 {
  background: url("../../../assets/img/cupCakes/inicio/carrusel/back4.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.imagen5 {
  background: url("../../../assets/img/cupCakes/inicio/carrusel/back5.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.container-final2 {
  padding-left: 3%;
  padding-right: 3%;
}

.fondo {
  background-image: url("../../../assets/img/cupCakes/inicio/seccion1/back.png") !important;
  background-size: cover;
}
.fondo2 {
  background-color: #6b2949 !important;
}
.fondo3 {
  background-image: url("../../../assets/img/cupCakes/inicio/seccion2/back20.png") !important;
  background-size: cover;
}
.fondo4 {
  background-image: url("../../../assets/img/cupCakes/inicio/seccion3/back3.png") !important;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.tituloBorder {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}
.tituloBorder2 {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.margin-titulos {
  margin-left: 30%;
  margin-right: 30%;
}

@media only screen and (max-width: 880px) {
  .imagen {
    display: none !important;
  }
  .mx-5 {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
  .px-5 {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
  .megin-left {
    margin-left: 3% !important;
  }
  .container-final {
    padding-left: 7% !important;
    padding-right: 7% !important;
  }
}
.degrade {
  background: linear-gradient(45deg, rgba(245, 0, 0, 0.808), rgba(230, 14, 14, 0.863) 100% !important);
}

.parallax {
  /* The image used */
  background-image: linear-gradient(rgba(107, 41, 73, 0.6), rgba(107, 41, 73, 0.6)),
    url("../../assets/img/cupCakes/inicio/streak/streak-01.png");
  /* Set a specific height */
  min-height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-border-radius {
  border-radius: 30px !important;
  background-color: white !important;
}

.degrade4 {
  background-color: #6b294979 !important;
}
